.form-group {
  position: relative;
}

input {
  background-color: var(--input-background);
  border: none;
  height: 32px;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
  padding: 0 12px 0px 32px;
  text-align: end;
  transition: all 300ms ease-in-out;
  color: var(--green-primary);
  width: 100%;
}

@media (max-width: 970px) {
  input {
    width: 100%;
  }
}

.percentage-form:focus-within input,
.form-group:focus-within input {
  transform: scale(1.05);
  border: 2px solid var(--input-border);
}

.percentage-form input {
  padding: 0 10px 0px 0;
}

@media (max-width: 970px) {
  .percentage-form input {
    flex-grow: 1;
  }
}

.form-group:focus-within .icon {
  transform: scale(1.1) translateY(-50%);
}

.percentage-form {
  width: 80px;
  height: 32px;
}

input::placeholder {
  text-align: end;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.form-group__error-message {
  color: var(--error);
  visibility: hidden;
  opacity: 0;
  transition: all 300ms ease-in-out;
  position: absolute;
  right: 0;
  bottom: 38px;
}

#number-of-people:invalid {
  border: 2px solid var(--error);
}

#number-of-people:invalid + .form-group__error-message {
  visibility: visible;
  opacity: 1;
}
