:root {
  --page-background: #d6e1c8;
  --light-color: #fffcde;
  --input-background: #fff5da;

  --main-title: #496156;
  --subtitle: #6a6f62;
  --price-color: #4bc295;
  --green-primary: #194842;
  --green-secondary: #b1e5c1;
  --input-border: #6fa88c;
  --btn-disabled: #28675e;
  --btn-active: #B2E5C1;

  --mobile-breakpoint: 970px;
}

* {
  font-family: "Space Mono", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-color: var(--page-background);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.title-box {
  width: 120px;
  margin: 0 auto;
}

.title {
  font-size: 1.5rem;
  color: var(--main-title);
  text-align: center;
  letter-spacing: 10px;
  text-transform: uppercase;
  word-break: break-all;
}

.container {
  width: 650px;
  background-color: var(--light-color);
  padding: 21px 21px 21px 32px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.action-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.bill,
.select-tip,
.number-of-people {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.subtitle {
  color: var(--subtitle);
}

.attribution {
  font-size: 0.75rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 970px) {
  body {
    gap: 30px;
  }

  .container {
    width: 100%;
    flex-direction: column;
  }
}
