button {
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.btn-percentage {
  width: 80px;
  height: 32px;
}

.btn-percentage {
  background-color: var(--green-primary);
  color: var(--light-color);
  transition: 300ms ease;
}

.btn-percentage:hover {
  background-color: var(--btn-active);
  color: var(--green-primary);
}

.btn-percentage-active {
  background-color: var(--btn-active);
  color: var(--green-primary);
}

.btn-reset {
  height: 32px;
  text-transform: uppercase;
  background-color: var(--btn-active);
  color: var(--green-primary);
}

.btn-reset:disabled {
  background-color: var(--btn-disabled);
}

@media (max-width: 970px) {
  .btn-percentage {
    flex-grow: 1;
  }
}
